
/*
 *
 * Color scheme: http://www.colourlovers.com/palette/147921/Blue_Kitten
 *
 *
 * yellow ECE59A
 * Pink FD6E8A
 * GreyGreen 848D82
 * Navy 2C3B63
 * Dark Blue 250352
 *
 *
 */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;

    background: rgb(135,224,253); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#header {
    min-width: 790px;
}

#logoTitle {
    font-size: 2.5em;
    float: left;
    margin: 0.5em;
}

#navMenu {
    float: right;
}

#navMenu a:hover {
    color: #121312;
}

.navItem {
    margin: 1em;
    padding: 1em;
    background-color: #ECE59A;
    border-radius: 5px;
    float: left;
}

#bodyBand {
    clear: both;
}

#topRow {
    background-image: url('http://php.ssl1304.com/images/PUReviewLogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px 300px;
    height: 20em;
}

#bottomRow {
    height: 10em;
    clear: both;
    min-width: 480px;
}

#bottomRowLeft {
    height: 100%;
    float: left;
    background-color: #848D82;
    margin: 1em;
    padding: 1em;
    width: 40%;
    border-radius: 15px;
}

#bottomRowRight {
    height: 100%;
    float: right;
    background-color: #848D82;
    margin: 1em;
    padding: 1em;
    width: 40%;
    border-radius: 15px;
}

#footer {
    clear: both;
    position: relative;
    width: 12em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}

#copyrightInfo {
    position: absolute;
    bottom: 0;
}

.staticContentRow {
    padding: 2em;
}

/*
 * yellow ECE59A
 * Pink FD6E8A
 * GreyGreen 848D82
 * Navy 2C3B63
 * Dark Blue 250352
 * http://www.colourlovers.com/palette/147921/Blue_Kitten
 */

.utilityListing {
    padding: 0.4em;
    margin: 0.4em;
    background-color: #ECE59A;
    border-radius: 8px;
}

/* tablets */
@media (max-width: 780px) {

    #header {
        min-width: 632px;
    }

    #topRow {
        background-image: none;
        display: none;
    }

    #logoTitle {
        font-size: 1.5em;
        float: left;
        margin: 0.5em;
        padding: 0.5em;
        padding-left: 3em;
        background-image: url('http://php.ssl1304.com/images/PUReviewLogo.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 70px 50px;
        min-width: 251px;

    }

    .navItem {
        margin: 0.5em;
        margin-top: 1.3em;
        padding: 0.5em;
        background-color: #ECE59A;
        border-radius: 5px;
        float: left;
    }

    #bottomRow {
        min-width: 642px;
    }


}

/* phones */
@media (max-width: 518px) {

    #header {
        min-width: 271px;
        clear: both;
    }

    #logo {
        clear: both;
        margin-left: auto;
        margin-right: auto;
    }

    #logoTitle {
        font-size: 1.2em;
        background-size: 50px 35px;
    }

    #navMenu {
        clear: both;
        float: left;
    }

    #bodyBand {
        width: 100%;
    }

    #bottomRow {
        min-width: 210px;
        width: 100%;
    }

    #bottomRowLeft {
        width: 210px;
    }

    #bottomRowRight {
        float: left;
        width: 210px;
    }

}



